body,
html {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: hsl(47, 88%, 63%);
    box-sizing: border-box;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.card {
    background-color: hsl(0, 0%, 100%);
    max-width: 240px;
    max-height: 400px;
    padding: 1.1rem;
    border: 1px solid hsl(0, 0%, 7%);
    font-family: Figtree, Inter;
    box-shadow: 6px 6px black;
    margin-top: 7.5rem;


}

h1:hover{
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}

img {
    width: 100%;

}

.button {
    background-color: hsl(47, 88%, 63%);
    display: inline-block;
    color: hsl(0, 0%, 7%);
    padding: 0.3rem 0.5rem;
    border-radius: 8%;
    margin-bottom: 0;

}

.card,
img {
    border-radius: 5%;
}

p {
    font-size: 0.7rem;
    font-weight: 500;
    color: hsl(0, 0%, 42%);
}

h1,
.button {
    font-weight: 800;
}

h1 {
    font-size: 1.2rem;
}

.publish-date {
    
    color: hsl(0, 0%, 7%);
    font-weight: 500;
}

.author-name {
    font-weight: 800;
    color: hsl(0, 0%, 7%);
    margin-left: 0.6rem;
}

.avatar-image {
    max-width: 23px;
    max-height: 23px;
}

.author-info {
    display: flex;
    align-items: center;
}

.main-text {
    font-size: 0.8rem;
    line-height: 1.1rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
    padding: 50px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}


@media screen and (max-width: 375px) {
    .card {
        height: 650px;
        width: 75%;
        max-width: 215px;

    }

    img {
        height: 150px;
        max-height: 200px;
        object-fit: cover;
    }

    h1 {
        font-size: 1rem;
    }

    p {
        font-size: 0.6rem;
    }

    .author-name {
        font-size: 0.7rem;
    }


}